<a href="https://colab.research.google.com/github/mmdrza0938/apriori/blob/main/dapriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=78ea01fca66b380276ed50e7f938bc9933e914cd6534db0455d4bc2ce28193dc
  Stored in directory: /root/.cache/pip/wheels/1b/02/6c/a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [5]:
import numpy as np
import pandas as pd
from apyori import apriori
from google.colab import drive
drive.mount('/content/drive')

store_data = pd.read_csv('/content/drive/My Drive/dapriori.csv',header=None)
store_data

Mounted at /content/drive

       0      1      2       3     4      5
0   wine  chips  bread  butter  milk  apple
1   wine    NaN  bread  butter  milk    NaN
2    NaN    NaN  bread  butter  milk    NaN
3    NaN  chips    NaN     NaN   NaN  apple
4   wine  chips  bread  butter  milk  apple
5   wine  chips    NaN     NaN  milk    NaN
6   wine  chips  bread  butter   NaN  apple
7   wine  chips    NaN     NaN  milk    NaN
8   wine    NaN  bread     NaN   NaN  apple
9   wine    NaN  bread  butter  milk    NaN
10   NaN  chips  bread  butter   NaN  apple
11  wine    NaN    NaN  butter  milk  apple
12  wine  chips  bread  butter  milk    NaN
13  wine    NaN  bread     NaN  milk  apple
14  wine    NaN  bread  butter  milk  apple
15  wine  chips  bread  butter  milk  apple
16   NaN  chips  bread  butter  milk  apple
17   NaN  chips    NaN  butter  milk  apple
18  wine  chips  bread  butter  milk  apple
19  wine    NaN  bread  butter  milk  apple
20  wine  chips  bread     NaN  milk  apple
21   NaN  chips    NaN     NaN   NaN    NaN

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       0      1      2       3     4      5
0   wine  chips  bread  butter  milk  apple
1   wine    NaN  bread  butter  milk    NaN
2    NaN    NaN  bread  butter  milk    NaN
3    NaN  chips    NaN     NaN   NaN  apple
4   wine  chips  bread  butter  milk  apple
5   wine  chips    NaN     NaN  milk    NaN
6   wine  chips  bread  butter   NaN  apple
7   wine  chips    NaN     NaN  milk    NaN
8   wine    NaN  bread     NaN   NaN  apple
9   wine    NaN  bread  butter  milk    NaN
10   NaN  chips  bread  butter   NaN  apple
11  wine    NaN    NaN  butter  milk  apple
12  wine  chips  bread  butter  milk    NaN
13  wine    NaN  bread     NaN  milk  apple
14  wine    NaN  bread  butter  milk  apple
15  wine  chips  bread  butter  milk  apple
16   NaN  chips  bread  butter  milk  apple
17   NaN  chips    NaN  butter  milk  apple
18  wine  chips  bread  butter  milk  apple
19  wine    NaN  bread  butter  milk  apple
20  wine  chips  bread     NaN  milk  apple
21   NaN  chips    NaN     NaN   NaN    NaN

In [6]:
store_data.shape

(22, 6)

In [7]:
records = []
for i in range(0, 22):
  records.append([str(store_data.values[i,j]) for j in range(0,6)])

In [8]:
association_rules = apriori(records, min_support=0.50, min_confidence=0.7,min_lift=1.2,min_length=2)
association_results = list(association_rules)

In [9]:
print(len(association_results))

1

In [10]:
print(association_results)

[RelationRecord(items=frozenset({'butter', 'bread', 'milk'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'bread', 'milk'}), confidence=0.7333333333333334, lift=1.241025641025641), OrderedStatistic(items_base=frozenset({'bread', 'milk'}), items_add=frozenset({'butter'}), confidence=0.8461538461538461, lift=1.241025641025641)])]